<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>708843610331-uku1hdg5kg9mjd8q0v3f2kl314vmjbo1.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.708843610331-uku1hdg5kg9mjd8q0v3f2kl314vmjbo1</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>708843610331-5dgm58jlk7t8ms0ue2kuc0dt5kbj851s.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAVDp_waiXHvj5fNvnVmzKpM-KoMos7XXI</string>
	<key>GCM_SENDER_ID</key>
	<string>708843610331</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.bhumir2503.ExerKin</string>
	<key>PROJECT_ID</key>
	<string>exerkin-958e0</string>
	<key>STORAGE_BUCKET</key>
	<string>exerkin-958e0.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:708843610331:ios:a74c1f1388466d51ceacfe</string>
</dict>
</plist>